@import '../../common';

.dropdown-caption-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  position: relative;
  justify-content: center;
  padding: 20px;
  margin-top: -10px;
}

.static-caption {
  position: relative;
  color: $D80;
  font-weight: 300;
  @include FontLight();
  padding-top: 10px;
  font-size: 16px;
  line-height: 1.13;
}

